body

header{
	color:bisque;
}

footer{
	color: rgb(148, 148, 205);
}

.grid {
	display:grid;
	padding: 30px;
	background-color: blue;
	margin: 0px 0px 20px 0px;
	font-size: 50px;
}

.grid-inline {
	display:inline;
	padding: 30px;
	background-color: blueviolet;
	margin: 0px 0px 20px 0px;
	font-size: 30px;
}

h1 {
	color:red;
}

div {
	color:green;
}

#metka1 {
	color:blue;
}

.div1 {
	color:brown;
}

.div3 {
	color:rgb(184, 172, 30);
}