body

.grid {
	display:grid;
	padding: 30px;
	background-color: blue;
	margin: 0px 0px 20px 0px;
	font-size: 50px;
}

.grid-inline {
	display:inline;
	padding: 30px;
	background-color: blueviolet;
	margin: 0px 0px 20px 0px;
	font-size: 30px;
}

h1 {
	color:red;
}

div {
	color:green;
}

#metka1 {
	color:blue;
}